  .select2-container--default .select2-results__option--highlighted[aria-selected]
    {
        font-weight:600;
    }

    .select2-container{
        width: 70%;
    height: 60px;
    text-align: center;
    }
    .select2-container .select2-selection--single
    {
        border:1px solid #ffcfc2;
        height:60px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow
    {
        background:#f15e36;
        height:58px;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered
    {
        color: #444;
    line-height: 36px;
    font-size: x-large;
    font-weight: 600;
    padding-top: 10px;
    }
        #slideshow {
        margin: 10px auto;
        position: relative;
        max-width: 1140px;
        height: 260px;
        padding: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    }

        #slideshow > div {
            position: absolute;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
        }
