@model IEnumerable<CookantsEntity.Model.Slider>
    @foreach (var item in Model)
    {
        <div class="item">
            @*<i class="mdi mdi-format-quote-open"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dapibus egestas placerat. Proin in dapibus ligula. Curabitur faucibus viverra molestie. Praesent mattis eget magna in eleifend. Phasellus hendrerit est nisi, ut luctus ligula consequat sit amet. Sed vel laoreet elit. Vivamus vel nunc diam. Sed mi lectus, volutpat a pretium ac, euismod quis quam. Nullam volutpat interdum est, vitae pulvinar orci. Quisque eu eleifend tortor, non imperdiet nisi. In ultrices iaculis nunc. Mauris est arcu,</p>
            <h5>- Neque porro quisquam est qui dolorem ipsum</h5>*@
            <div>
                <img src="@item.RootUrl">
            </div>
        </div>
      
    }
   


